.footer {
  background: #112D57;
  display: relative;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 80px;
  gap:70px;
  align-items:center ;
  justify-items: center;

}

.footer-localizacao-img {
  height: 247px;
  width: 334px;
  border-radius: 22px;


}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-items: center;
  position: relative;
}

.footer-list li a {
  margin-bottom: 30px;
  font-size:.937rem ;
  line-height: 1.2;
  color:#fff;
  white-space: nowrap;
  display: inline-block;
}
.footer-list::after {
  content:"Just type what's on your mind" ;
  display: block;
  font-size:.75rem;
  font-weight: bold;
  color:#fff;
  position: absolute;
  top:180px;
  left:50px;
 
 
  
  
}

.footer-contato  li {
  font-size:.937rem ;
  font-weight:400 ;
  color:#fff;
  margin-bottom: 10px;
  
  
}

.endereco {
  display: flex;
  gap:10px;
  align-items: center;
}

.telefone {
  display: flex;
  gap:10px;
  align-items: center;
}


/* .endereco::before {
  content: '';
  display: block;
  width: 30.67px;
  height: 38.33px;
  background: url(../img/localizacao.svg) no-repeat center center;
  
} */


.footer-contato-redes {
  display: flex;
  gap: 30px;
}


